$ORIGIN {{ dns.domain | lower }}.
$TTL 1W
@	IN	SOA	ns1.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}.	root (
			{{ serialnumber }}	; serial
			3H		; refresh (3 hours)
			30M		; retry (30 minutes)
			2W		; expiry (2 weeks)
			1W )		; minimum (1 week)
	IN	NS	ns1.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}.
	IN	MX 10	smtp.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}.
;
; Bastion Services
ns1.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}.		IN		A	{{ provisioner.ipaddr1 }}
smtp.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}. 		IN		A	{{ provisioner.ipaddr1 }}
ntp.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}. 		IN		A	{{ provisioner.ipaddr1 }}
registry.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}. 	IN		A	{{ provisioner.ipaddr1 }}
bastion.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}. 	IN		A	{{ provisioner.ipaddr1 }}
{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}. 			IN		A	{{ provisioner.ipaddr1 }}
;
;
{{ provisioner.name | lower }}.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}.	IN	A	{{ provisioner.ipaddr1 }}
;
; OpenShift API and Ingress
api.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}.		IN		A	{{ api_ip }}
api-int.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}.	IN		A	{{ api_ip }}
*.apps.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}.		IN		A	{{ apps_ip }}
;
{% if bootstrap is defined %}
; Bootstrap
{{ bootstrap.name | lower }}.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}. 	IN	A	{{ bootstrap.ipaddr }}
{% endif %}

; Control Plane
{% for m in masters %}
{{ m.name | lower }}.{{ dns.cluster_name | lower }}.{{ dns.domain | lower }}. 	IN	A	{{ m.ipaddr }}
{% endfor %}
