apiVersion: v1
baseDomain: {{ dns.domain }}
metadata:
  name: {{ dns.cluster_name }}
networking:
  machineNetwork:
    - cidr: {{ dhcp.ipid }}/{{ provisioner.prefix1 }}
  networkType: OVNKubernetes
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 3
  platform:
    baremetal: {}
platform:
  baremetal:
    apiVIP: {{ api_ip }}
    ingressVIP: {{ apps_ip }}
    provisioningNetwork: "Disabled"
    bootstrapExternalStaticIP: "{{ bootstrap.ipaddr }}"
    bootstrapExternalStaticGateway: "{{ bootstrap.gateway }}"
    bootstrapOSImage: http://{{ provisioner.ipaddr1 }}:{{ podman_http_port }}/{{ rhcos_image }}?sha256={{ rhcos_image_sha256 }} 
    hosts:
{% for m in masters %}
      - name: {{ m.name }}
        role: master
        bmc:
          address: redfish://{{ m.ilo_ip }}/redfish/v1/Systems/1
          username: {{ ilo_user }}
          password: {{ ilo_pw }}
          disableCertificateVerification: True
        bootMACAddress: "{{ m.macaddr }}"
        rootDeviceHints:
          deviceName: "{{ root_device }}"
{% endfor %}
pullSecret: {{ pull_secret }} 
sshKey: {{ ssk_key }}
{% if disconnected %}
imageContentSources:
{{ lookup('ansible.builtin.fileglob','{{ local_mirror_path }}/*.yaml') }}
{% endif %}

fips: true
{% if cert_chain %}
additionalTrustBundle: |
  {{ lookup('ansible.builtin.file','ca.pem') }}
{% endif %}