apiVersion: v1
baseDomain: {{ dns.domain }}
{% if http_proxy is defined %}
#-------------------------------------------#
# LMCO Proxy Servers                        #
#-------------------------------------------#
proxy:
  httpProxy: {{ http_proxy }}
  httpsProxy: {{ https_proxy }}
  noProxy: {{ no_proxy }}
{% endif %}
{% if cert_chain %}
#-------------------------------------------#
# LMCO Certificate Chain                    #
#-------------------------------------------#  
additionalTrustBundle: |
  {{ lookup('file','ca.pem') }}
{% endif %}

#-------------------------------------------#
# Cluster info                              #
#-------------------------------------------#
metadata:
  name: {{ dns.cluster_name }}
fips: true

#-------------------------------------------#
# Control and compute plane node config.    #
#-------------------------------------------#
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 3
  platform:
    baremetal: {}
platform:
  baremetal:
    apiVIP: {{ api_ip }}
    ingressVIP: {{ apps_ip }}
    externalBridge: {{ bare_net_name }}
    provisioningNetworkCIDR: {{ 172.22.0.0/24 }}
    provisioningNetwork: Managed
    bootstrapExternalStaticIP: {{ 192.168.0.3 }}
    bootstrapExternalStaticGateway: {{ 192.168.0.2 }}
    bootstrapOSImage: http://{{ 192.168.0.2 }}:{{ podman_http_port }}/{{ rhcos_image }}?sha256={{ rhcos_image_sha256 }} 
    hosts:
{% for m in masters %}
      - name: {{ m.name }}
        role: master
        bmc:
          address: redfish://{{ m.ilo_ip }}/redfish/v1/Systems/1
          username: {{ ilo_user }}
          password: {{ ilo_pw }}
          disableCertificateVerification: True
        bootMACAddress: "{{b4:7a:f1:da:fe:bc}}"
        rootDeviceHints:
         deviceName: "{{ root_device }}"
{% endfor

#-------------------------------------------#
# Network Configurations.                   #
# Either OpenShiftSDN or OVNKubernetes.     #
# The default value is OpenShiftSDN.        #
# Note that OVNKubernetes did not work      #
#-------------------------------------------#
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 192.168.0.0/24
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16


#-------------------------------------------#
# Mirror registry                           #
#-------------------------------------------#
#imageContentSources:
#- mirrors:

#-------------------------------------------#
# Keys and access                           #
#-------------------------------------------#
pullSecret: 
sshKey: 
